@use '../utils/_variables' as *


.carousel
    width: 100vw
    height: 100vh
    left: 0
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        
    &__layout
        width: 100%
        height: 100vh
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0), rgba(0,0,0,0.6))
        position: absolute
        top: 0
        display: flex
        justify-content: center
        @media (max-width: $tabletSize)
            display: flex
            justify-content: center
        &__content
            max-width: 1200px
            width: 90%
            position: absolute
            bottom: 20vh
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: end
            @media (max-width: $tabletSize)
                flex-direction: column
                align-items: center
                position: absolute
                margin: 0 auto
                bottom: 5vh
            &__texts
                display: flex
                flex-direction: column
                color: $textColorLight
                @media (max-width: $mobileSize)
                    align-items: center
                &__subtitle
                    font-size: 60px
                    margin-bottom: -30px
                    text-align: left
                    @media (max-width: $tabletSize)
                        font-size: 50px
                    @media (max-width: $mobileSize)
                        font-size: 35px
                &__title
                    font-size: 140px
                    font-weight: 800
                    text-align: center
                    
                    @media (max-width: $tabletSize)
                        font-size: 110px
                    @media (max-width: $mobileSize)
                        font-size: 60px
                        line-height: 50px
                        margin: 40px 0
                &__point
                    color: $color1
                    font-size: 10rem

            &__buttons
                display: flex
                flex-direction: row
                gap: 20px
                margin-bottom: 3.5vh
                &__btn
                    width: 60px
                    height: 60px
                    border-radius: 50%
                    background-color: $textColorLight
                    color: $textColorDark
                    display: flex
                    justify-content: center
                    align-items: start
                    font-size: 40px
                    &:first-of-type::before
                        content:"←"
                    &:last-of-type::before
                        content:"→"
                    &:hover
                        color: $color1
                        cursor: pointer
                    &--grey
                        opacity: 0.5
                        &:hover
                            cursor: default
                            color: $textColorDark